<!DOCTYPE html>
<html>

  <head>
    <title>Stef &amp; Kevin</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="stylesheets/wedding.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>

</html>
