<main>
  <div class="grid" id="ballerz">
    <h1>Stefani &amp; Kevin</h1>
  </div>
</main>

<section>
  <div class="container grid">
    <div class="row">
      <div class="column full">
        Stefani and Kevin met while living in the same dorm at U of I. And some other stuff and bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet.
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container grid">
    <div class="row">
      <div class="column half">
        <h2>Ceremony</h2>
        <hr />
        <dl>
          <dt>2:30pm</dt>
        </dl>
        <dl>
          <dt><a href="http://www.clement.org" target="_blank">Saint Clement Church</a></dt>
          <dt>642 W. Deming Place</dt>
          <dt>Chicago, IL 60614</dt>
          <dt>(773) 281-0371</dt>
        </dl>
      </div>
      <div class="column half">
        <h2>Reception</h2>
        <hr />
        <dl>
          <dt>5:30pm</dt>
        </dl>
        <dl>
          <dt><a href="http://www.salvageone.com" target="_blank">Salvage One</a></dt>
          <dt>1840 W. Hubbard</dt>
          <dt>Chicago, IL 60622</dt>
          <dt>(312) 733-0098</dt>
        </dl>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container grid">
    <p>St. Clement's is in Lincoln Park, and Salvage One is in West Town.</p>
    <p>Driving directions between them can be found <a href="https://goo.gl/maps/OyFhp" target="_blank">here</a>.<p>
  </div>
</section>

<footer>
  <div class="container grid">
    Thanks, boo.
  </div>
</footer>
