<main>
  <div class="grid" id="ballerz">
    <h1>Stefani &amp; Kevin</h1>
  </div>
</main>

<section id="about">
  <div class="container grid">
    <h2>About the Couple</h2>
    <div class="row">
      <div class="column full">
        Stefani and Kevin met while living in the same dorm at U of I. And some other stuff and bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet. Bacon ipsum dolor sit amet.
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container grid">
    <div class="row">
      <div class="column one-third">
        <img src="images/ballerz.png" alt="Ballerz" />
      </div>
      <div class="column one-third">
        <img src="images/hot_shit.png" alt="Hot Sh*t" />
      </div>
      <div class="column one-third">
        <img src="images/tie_dye.png" alt="We Love Each Other!" />
      </div>
    </div>
  </div>
</section>

<hr />

<section id="bridal">
  <div class="container grid">
    <h2>The Bridal Party</h2>
    <div class="row">
      <div class="column one-third">
        <img src="images/eileen.png" alt="Eileen" />
      </div>
      <div class="column two-thirds">
        <p>Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know.</p>
      </div>
    </div>
    <div class="row">
      <div class="column one-third">
        <img src="images/marla.png" alt="Marla" />
      </div>
      <div class="column two-thirds">
        <p>Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know.</p>
      </div>
    </div>
    <div class="row">
      <div class="column one-third">
        <img src="images/sarah.png" alt="Sarah" />
      </div>
      <div class="column two-thirds">
        <p>Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know.</p>
      </div>
    </div>
    <div class="row">
      <div class="column one-third">
        <img src="images/jill.png" alt="Jill" />
      </div>
      <div class="column two-thirds">
        <p>Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know.</p>
      </div>
    </div>
    <div class="row">
      <div class="column one-third">
        <img src="images/chrissie.png" alt="Chrissie" />
      </div>
      <div class="column two-thirds">
        <p>Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know.</p>
      </div>
    </div>
  </div>
</section>

<hr />

<section id="groomsmen">
  <div class="container grid">
    <h2>The Groomsmen</h2>
    <div class="row">
      <div class="column one-third">
        <img src="images/derek.png" alt="Eileen" />
      </div>
      <div class="column two-thirds">
        <p>Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know.</p>
      </div>
    </div>
    <div class="row">
      <div class="column one-third">
        <img src="images/dave.png" alt="Marla" />
      </div>
      <div class="column two-thirds">
        <p>Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know.</p>
      </div>
    </div>
    <div class="row">
      <div class="column one-third">
        <img src="images/steve.png" alt="Sarah" />
      </div>
      <div class="column two-thirds">
        <p>Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know.</p>
      </div>
    </div>
    <div class="row">
      <div class="column one-third">
        <img src="images/brian.png" alt="Jill" />
      </div>
      <div class="column two-thirds">
        <p>Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know. Lorem ipsum, sit amet blah something dude, I don't really know.</p>
      </div>
    </div>
  </div>
</section>

<hr />

<section id="wedding">
  <div class="container grid">
    <div class="row">
      <div class="column half">
        <h2>Ceremony</h2>
        <hr />
        <dl>
          <dt>2:30pm</dt>
        </dl>
        <dl>
          <dt><a href="http://www.clement.org" target="_blank">Saint Clement Church</a></dt>
          <dt>642 W. Deming Place</dt>
          <dt>Chicago, IL 60614</dt>
          <dt>(773) 281-0371</dt>
        </dl>
      </div>
      <div class="column half">
        <h2>Reception</h2>
        <hr />
        <dl>
          <dt>5:30pm</dt>
        </dl>
        <dl>
          <dt><a href="http://www.salvageone.com" target="_blank">Salvage One</a></dt>
          <dt>1840 W. Hubbard</dt>
          <dt>Chicago, IL 60622</dt>
          <dt>(312) 733-0098</dt>
        </dl>
      </div>
    </div>
  </div>
  <div class="container grid">
    <p>St. Clement's is in Lincoln Park, and Salvage One is in West Town.</p>
    <p>Driving directions between them can be found <a href="https://goo.gl/maps/OyFhp" target="_blank">here</a>.</p>
    <p>Both St. Clement's and Salvage One will have parking lots for anyone who is driving.</p>
  </div>
</section>

<hr />

<section id="hotel">
  <div class="container grid">
    <h2>Hotel</h2>
    <div class="row">
      <div class="column one-third">
        <img src="images/godfrey.png" alt="Godfrey" />
      </div>
      <div class="column two-thirds">
        <p>For guests who will need a place to stay in Chicago, we have booked rooms at <a href="http://www.godfreyhotelchicago.com/" target="_blank">The Godfrey Hotel</a>. It is located in <a href="https://goo.gl/maps/v9PJ7" target="_blank">River North</a>, which is South of the Ceremony and East of the Reception. Please let us know when sending in your RSVP if you will require a room.</p>
        <p>The hotel has parking and whatever else I need to put here.</p>
        <p>There will also be a shuttle that will take guests from the reception to the hotel. Stay tuned for more info.</p>
      </div>
    </div>
  </div>
</section>

<hr />

<section id="registration">
  <div class="container grid">
    <h2>Registration</h2>
    <div class="row">
      <p>I don't know where we're registered yet. I hope we figure that out soon. You can get us a gift that way if you want to. No pressure.</p>
    </div>
  </div>
</section>

<footer>
  <div class="container grid">
    &copy; KrevinL, Inc.
  </div>
</footer>
