<main>
  <div class="grid" id="ballerz">
    <h1>Stefani &amp; Kevin</h1>
  </div>
</main>

<section id="about">
  <div class="container grid">
    <h2>About the Couple</h2>
    <div class="row">
      <div class="column full">
        <h5>As written by Kevin</h5>
        <p>Stef and I met while living on the same floor of our dorm at U of I. One of her friends with a hilarious name (who shall not be named) was drunk in the hall, talking to one of my friends. Stef came to take him away because I guess she was embarrassed. I saw her and thought, &ldquo;She would be cute if she took a shower&rdquo;. She obviously thought I was cute, because she wouldn&rsquo;t leave me alone for the rest of the year. We started dating and bing-bang-boom, 5 years go by and we&rsquo;re getting married. I&rsquo;m still not entirely sure how she pulled that off&hellip;</p>
        <h5>As written by Stefani</h5>
        <p>Kevin and I became friends when we lived in the same dorm in college. However, there are a few discrepancies about the time we first met. Here is the truth. Being the ultimate pranksters we were, my friend Amy convinced me to steal the mattress out of Ben, Kevin&rsquo;s friends, dorm room. After storing it in the common room, the boys finally came to claim it. Kevin came in with shaggy hair, a skateboard, and a tie-dye shirt. From there, he &ldquo;accidently&rdquo; hit me in the face with a ball and &ldquo;accidentally&rdquo; broke my ID. On that night, I declared him my arch-nemesis. He spent the rest of the semester sucking up to me and stalking me on AIM before we finally became friends. Then, as a result of his endless persistence, I finally agreed to a date. Since, my life has been filled with both extreme laughter and extreme embarrassment.</p>
      </div>
    </div>
  </div>

  <div class="container grid padded-top">
    <div class="row">
      <div class="column one-third">
        <img src="images/ballerz.png" alt="Ballerz" />
        <img src="images/tie_dye.png" alt="Hippies" />
      </div>
      <div class="column one-third">
        <img src="images/fancy.png" alt="Fancy Pants" />
      </div>
      <div class="column one-third">
        <img src="images/faux_artsy.png" alt="We're so artsy" />
        <img src="images/classy.png" alt="Classy" />
      </div>
    </div>
  </div>
</section>

<hr />

<section id="bridal">
  <div class="container grid">
    <div class="title-subtitle">
      <h2>The Bridal Party</h2>
      <small>As written by Stefani</small>
    </div>
    <div class="row">
      <div class="column one-third">
        <img src="images/eileen1.png" alt="Eileen" />
      </div>
      <div class="column two-thirds">
        <p><strong>Eileen Tretina</strong> is my older sister and soon-to-be mama of four! Being six years older than me, I spent many of my days following her around. As a result, she is the source of all my weirdness. From chasing me around the house threatening to punch a single boob and stunt its growth, to narrating her life via opera singing, to skyping me in tears because she was so hungry but didn&rsquo;t want to get off her couch (last month), Eileen keeps me laughing. She has been one of my best friends through the years and has blessed me with 3 of the cutest and most bizarre nieces and nephew imaginable.</p>
      </div>
    </div>
    <div class="row">
      <div class="column one-third">
        <img src="images/marla.png" alt="Marla" />
      </div>
      <div class="column two-thirds">
        <p><strong>Marla Mulrenin</strong> is my oldest sister, often referred to as the old sister. With classic nicknames like Fartla, Marla has been the butt of many of the family jokes. Marla is nine years older than me, and despite all our harassment, she has always been there for me. She is the person I can count on to come over to keep me company and the person who will drop everything to go shopping with me. Her love of all things Disney can only be countered by her outstanding patience demonstrated daily (yes, I am referring to Eddie).</p>
      </div>
    </div>
    <div class="row">
      <div class="column one-third">
        <img src="images/sarah.png" alt="Sarah" />
      </div>
      <div class="column two-thirds">
        <p>My friendship with <strong>Sarah Lundine</strong> is based on all things disgusting. Since high school, we have shared dirty gym uniforms, deodorant, and lots of outdoor bathroom experiences. I can always count on Sarah for four things: to try to race people at every opportunity, to threaten to take off all of her clothes, to cry whenever she sees a baby, and to be there for me no matter what.</p>
      </div>
    </div>
    <div class="row">
      <div class="column one-third">
        <img src="images/jill.png" alt="Jill" />
      </div>
      <div class="column two-thirds">
        <p><strong>Jill Domin</strong> and I go back to the elementary school days when she went by her alter ego, &ldquo;Cheese&rdquo;. And although close friends and neighbors years prior, my friendship with Jill didn&rsquo;t truly blossom until Westmore Elementary School&rsquo;s D.A.R.E rap battle of 2000, where, after our performance of &ldquo;Don&rsquo;t Smoke the Junk&rdquo;, we were robbed of the first place title. Years later, our friendship has matured into a beautiful relationship filled with frozen bras, themed parties, gossip girl shout outs, and poop jokes.</p>
      </div>
    </div>
    <div class="row">
      <div class="column one-third">
        <img src="images/chrissie1.png" alt="Chrissie" />
      </div>
      <div class="column two-thirds">
        <p><strong>Chrissie Palumbo</strong> and I began our friendship as each other&rsquo;s rock during a few pretty traumatic 6<sup>th</sup> grade break ups. Since then, we have proven that there is no bond stronger than one based on excitedly laminating love notes and sadly cutting them in pieces two weeks later. Together we share our first tequila shot experience, the uncanny ability to lose all of our personal possessions, our love of boarding, and a combined ticket total that has probably reached $1000.</p>
      </div>
    </div>
  </div>
</section>

<hr />

<section id="groomsmen">
  <div class="container grid">
    <div class="title-subtitle">
      <h2>The Groomsmen</h2>
      <small>As written by Kevin</small>
    </div>
    <div class="row">
      <div class="column one-third">
        <img src="images/derek.png" alt="Derek" />
      </div>
      <div class="column two-thirds">
        <p>I met <strong>Derek Patten</strong> during our awkward high school years, while we skateboarded and listened to terrible music. Derek even played some of that terrible music himself as the lead singer of a pop-punk band (yeah yeaaaaah yeah). We mostly made it out of those awkward years and into adulthood. He asked me to be the Godfather of his awesome son, Parker, and I asked him to be the Best Man in my wedding.</p>
      </div>
    </div>
    <div class="row">
      <div class="column one-third">
        <img src="images/dave.png" alt="Dave" />
      </div>
      <div class="column two-thirds">
        <p><strong>Dave Liddle</strong> is the 2<sup>nd</sup> Liddle Boy and so he has all of the baggage of the middle child. That may explain why he hasn&rsquo;t actually agreed to be in the wedding yet, but I&rsquo;m gonna go ahead and call his bluff. You can expect to see him there, possibly with his adorable bulldogs, Meechie (pictured here) and Bruno.</p>
      </div>
    </div>
    <div class="row">
      <div class="column one-third">
        <img src="images/steve.png" alt="Steve" />
      </div>
      <div class="column two-thirds">
        <p><strong>Steve Liddle</strong> is the oldest Liddle Boy, so he both looked out for his brothers and annoyed us thoroughly. He is a science teacher at Grant High School in Lakemoor, IL, which allows him to get some pretty cool pictures like the one you see here (I think he&rsquo;s lighting off a firecracker in his hand). He&rsquo;s not being as difficult as Dave about being in my wedding, so he&rsquo;s winning for now.</p>
      </div>
    </div>
    <div class="row">
      <div class="column one-third">
        <img src="images/brian.png" alt="Brian" />
      </div>
      <div class="column two-thirds">
        <p><strong>Brian Miara</strong> claims that we met when I told him that I was color blind on the bus in junior high (I&rsquo;m not). I think he&rsquo;s a liar and we really met in high school. We had plenty of memorable times, but when I try to think of a single one, all I get is a blur of hacky sack, marco polo, and beer. Anyway, Brian is one of my best friends, even if it took me 5 years to figure out that his last name was pronounced "My-ruh".</p>
      </div>
    </div>
  </div>
</section>

<hr />

<section id="wedding">
  <div class="container grid">
    <div class="row">
      <div class="column half">
        <h2>Ceremony</h2>
        <hr />
        <dl>
          <dt>2:30pm</dt>
        </dl>
        <dl>
          <dt><a href="http://www.clement.org" target="_blank">Saint Clement Church</a></dt>
          <dt>642 W. Deming Place</dt>
          <dt>Chicago, IL 60614</dt>
          <dt>(773) 281-0371</dt>
        </dl>
      </div>
      <div class="column half">
        <h2>Reception</h2>
        <hr />
        <dl>
          <dt>5:30pm</dt>
        </dl>
        <dl>
          <dt><a href="http://www.salvageone.com" target="_blank">Salvage One</a></dt>
          <dt>1840 W. Hubbard</dt>
          <dt>Chicago, IL 60622</dt>
          <dt>(312) 733-0098</dt>
        </dl>
      </div>
    </div>
  </div>
  <div class="container grid padded-top">
    <p>St. Clement&rsquo;s is in Lincoln Park, and Salvage One is in West Town.</p>
    <p>Driving directions between them can be found <a href="https://goo.gl/maps/OyFhp" target="_blank">here</a>.</p>
    <p>Both St. Clement&rsquo;s and Salvage One will have parking lots for anyone who is driving.</p>
  </div>
</section>

<hr />

<section id="hotel">
  <div class="container grid">
    <h2>Hotel</h2>
    <div class="row">
      <div class="column one-third">
        <img src="images/godfrey.png" alt="Godfrey" />
      </div>
      <div class="column two-thirds">
        <p>For guests who will need a place to stay in Chicago, we will have a group rate at <a href="http://www.godfreyhotelchicago.com/" target="_blank">The Godfrey Hotel</a>. It is located in <a href="https://goo.gl/maps/v9PJ7" target="_blank">River North</a>, which is South of the Ceremony and East of the Reception. To get the discounted price, book a room by June 17<sup>th</sup> using the following code: <strong>MEEK071814</strong></p>
        <p>Room rates are $129 per night for 1-2 guests. Each additional adult per room will be $20 extra.</p>
        <p>The hotel will have parking for $55 per night, or you can find several <a href="https://spothero.com/chicago-parking/157-w-chicago-ave?start_date=07-18-2014&start_time=1000PM&end_date=07-19-2014&end_time=0500PM">parking lots</a> nearby for a lower rate.</p>
        <p>There will also be a shuttle that will take guests from the reception to the hotel. Stay tuned for more info.</p>
      </div>
    </div>
  </div>
</section>

<hr />

<section id="after-party">
  <div class="container grid">
    <h2>After Party</h2>
    <div class="row">
      <p>The reception ends at 11:30pm, but we plan to keep partying after that. Be ready.</p>
    </div>
  </div>
</section>

<hr />

<section id="registration">
  <div class="container grid">
    <h2>Registration</h2>
    <div class="row">
      <p>We are registered at <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=151103140&pwsurl=">Bed Bath & Beyond</a></p>
    </div>
  </div>
</section>
