/*
 __       __                  __        __  __
|  \  _  |  \                |  \      |  \|  \
| $$ / \ | $$  ______    ____| $$  ____| $$ \$$ _______    ______
| $$/  $\| $$ /      \  /      $$ /      $$|  \|       \  /      \
| $$  $$$\ $$|  $$$$$$\|  $$$$$$$|  $$$$$$$| $$| $$$$$$$\|  $$$$$$\
| $$ $$\$$\$$| $$    $$| $$  | $$| $$  | $$| $$| $$  | $$| $$  | $$
| $$$$  \$$$$| $$$$$$$$| $$__| $$| $$__| $$| $$| $$  | $$| $$__| $$
| $$$    \$$$ \$$     \ \$$    $$ \$$    $$| $$| $$  | $$ \$$    $$
 \$$      \$$  \$$$$$$$  \$$$$$$$  \$$$$$$$ \$$ \$$   \$$ _\$$$$$$$
                                                         |  \__| $$
                                                          \$$    $$
                                                           \$$$$$$
*/

/* Variables */

$background-color: #F7F6F4;
$text-color: #555555;
$link-color: #641C1C;

$header-height: 65px;

@font-face {
  font-family: theBigIsh;
  src: url('fonts/Landsdowne.ttf');
}

/* General Rules */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $background-color;
  margin: 0;
  font: 130% 'Open Sans Condensed', sans-serif;
  color: $text-color;
}

header {
  font-size: 2.5rem;
  padding: 0.3rem;
  background-color: $background-color;
  width: 100%;
  position: fixed;
  width: 100%;
}

section {
  padding: 5rem 0 5rem 0;
}

footer {
  padding: 4rem 0 4rem 0;
}

h2 {
  font-size: 2.25rem;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: $link-color;
  border-bottom: 0;
  font-weight: 700;
}

a:hover {
  border-bottom: 1px solid $link-color;
  padding-bottom: 0;
}

p {
  margin: 0.75rem;
}

hr {
  width: 12rem;
}

img {
  max-height: 100%;
  max-width: 100%;
}

/* Sections */

.navigation {
  z-index: 100;
  background-color: $background-color;
  display: inline-block;
  position: fixed;
  margin-top: $header-height;

  ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin: 0;

    li {

      a {
        color: $text-color;
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0;
        padding: 1rem 3rem 1rem 3rem;
        display: block;
      }

      a:hover {
        border: 0;
      }
    }

    li:hover {
      background-color: #E8E7E5;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

.grid {
  text-align: center;
}

.row {
  overflow: hidden;
}

.column {
  float: left;
  margin-left: 5%;
}

.column:first-child {
  margin-left: 0;
}

.column.half {
  width: 47.5%;

  hr {
    width: 5rem;
  }
}

.column.one-third {
  width: 30%;
}

.column.two-thirds {
  width: 65%;
}

.right {
  float: right;
}

/* Special */

#ballerz {
  padding: 5rem;
  background-image: url('/images/awesome1.png');
  background-size: cover;
  background-position: center;
  overflow: visible;

  h1 {
    color: $background-color;
    font-family: theBigIsh;
    font-size: 8rem;
  }
}

.clear-header {
  height: $header-height;
}

@media screen and (max-width: 640px) {
  .column.full,
  .column.half,
  .column.one-third,
  .column.two-thirds {
    margin: 0;
    width: 100%;
  }

  .column .left,
  .column .right {
    float: left;
  }

  #ballerz {
    h1 {
      font-size: 5rem;
    }
  }
}
