/*
 __       __                  __        __  __
|  \  _  |  \                |  \      |  \|  \
| $$ / \ | $$  ______    ____| $$  ____| $$ \$$ _______    ______
| $$/  $\| $$ /      \  /      $$ /      $$|  \|       \  /      \
| $$  $$$\ $$|  $$$$$$\|  $$$$$$$|  $$$$$$$| $$| $$$$$$$\|  $$$$$$\
| $$ $$\$$\$$| $$    $$| $$  | $$| $$  | $$| $$| $$  | $$| $$  | $$
| $$$$  \$$$$| $$$$$$$$| $$__| $$| $$__| $$| $$| $$  | $$| $$__| $$
| $$$    \$$$ \$$     \ \$$    $$ \$$    $$| $$| $$  | $$ \$$    $$
 \$$      \$$  \$$$$$$$  \$$$$$$$  \$$$$$$$ \$$ \$$   \$$ _\$$$$$$$
                                                         |  \__| $$
                                                          \$$    $$
                                                           \$$$$$$
*/

/* Variables */

$primary-color: #F7F6F4;
$secondary-color: #641C1C;

@font-face {
  font-family: theBigIsh;
  src: url('fonts/Landsdowne.ttf');
}

/* General Rules */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $primary-color;
  margin: 0;
  font: 130% 'Open Sans Condensed', sans-serif;
  color: #555555;
}

header {
  position: fixed;
  font-size: 2.5rem;
  padding: 2.5rem;
  background-color: $primary-color;
  width: 100%;
}

.clear-header {
  height: 135px;
}

section {
  padding: 4rem 0 0 0;
}

footer {
  padding: 4rem 0 4rem 0;
}

h2 {
  font-size: 2.25rem;
}

a {
  text-decoration: none;
  color: $secondary-color;
  border-bottom: 0;
}

a:hover {
  border-bottom: 1px solid black;
  border-color: $secondary-color;
  padding-bottom: 0;
}

p {
  margin: 0.75rem;
}

hr {
  width: 5rem;
}

/* Sections */

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

.grid {
  text-align: center;
}

.row {
  overflow: hidden;
}

.column {
  float: left;
  margin-left: 5%;
}

.column:first-child {
  margin-left: 0;
}

.column.half {
  width: 47.5%;
}

.column.one-third {
  width: 30%;
}

.right {
  float: right;
}

/* Special */

#ballerz {
  padding: 5rem;
  background-image: url('/images/awesome.png');
  background-size: cover;
  background-position: center;
  overflow: visible;

  h1 {
    color: $primary-color;
    font-family: theBigIsh;
    font-size: 8rem;
  }
}

@media screen and (max-width: 640px) {
  .column.full,
  .column.half {
    margin: 0;
    width: 100%;
  }

  .column .left,
  .column .right {
    float: left;
  }
}
